/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

.mover {
  position: fixed;
  /*width: 256px;*/
  z-index: -1;
  height: 100px; width: 73.333px;
  background: url('../images/pizza.png') no-repeat;    /* add mover background image to reduce number of image requests*/
  background-size: 100%;

  will-change: transform;
  z-index: -1;
}

.randomPizzaContainer {
  float: left;
  display: flex;
  width: 33.33%;
  height: 325px;

  will-change: transform;

  text-transform: capitalize;
}

.randomPizzaContainer.size-1 {
  width: 25%;
}


.randomPizzaContainer.size-2 {
  width: 33.33%;
}


.randomPizzaContainer.size-3 {
  width: 50%;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

.randomPizzaImageContainer {
  width: 35%;
}

.randomPizzaContainer .img-responsive {
  background: url('../images/pizza.png') no-repeat;
  background-size: 100%;
}

 .container {
  background-color: rgba(240, 60, 60, 0.8);
}